.grid-container {
  display: grid;
  grid-template-columns: 100px 200px 200px;
}


#participants {
  background: $off-white;
  padding: 0 10px;
}

#driverlist {
  background: $off-white;
  padding: 0 10px;
}

#suggestionlist {
  
}